<footer>
    <div class="content-wrapper">
        <div class="footer-top">
            <div class="footer-col">
                 <img src="assets/img/logo/logo_branco.svg" alt="nywera Logo">
            </div>
            <div class="footer-col">
                <h4>Sobre nós</h4>
                <p>Mais de 10 anos de expertise em UX/UI Design, desenvolvimento e gestão de produtos.</p>
            </div>
            <div class="footer-col">
                <h4>Nossos serviços</h4>
                <p>Deixe-nos transformar a forma como seus clientes percebem e interagem com o seu negócio.</p>
            </div>
            <div class="footer-col">
                <h4>Portfólio</h4>
                <p>Explore nossas criações e descubra como cada projeto reflete nosso compromisso com qualidade, inovação e propósito.</p>
            </div>

            <!--
            <div class="footer-col">
                <h4>Newsletter</h4>
                <p>Receba nossas novidades e dicas de design</p>
                <form class="newsletter-form" id="newsletter-form">
                    <input type="email" name="email" placeholder="Informe seu email" required>
                    <button type="submit" aria-label="Inscrever-se na newsletter">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </form>
                <div class="newsletter-message" id="newsletter-message"></div>
            </div>
            -->
        </div>
        <div class="footer-bottom">
            <div class="social-icons">
                <a href="https://www.instagram.com/nywera.design"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/nywera.design"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/company/nywera/"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p class="copyright">2025 - nywera. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
