<header>
    <div class="content-wrapper header-wrapper">
        <a href="index.html" class="logo">
            <img src="img/logo.svg" alt="Nywera Logo" class="logo-dark">
            <img src="img/logo_branco.svg" alt="Nywera Logo" class="logo-light">
        </a>
        <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
            <i class="fas fa-bars" aria-hidden="true"></i>
            <i class="fas fa-times" aria-hidden="true"></i>
            <span class="sr-only">Menu</span>
        </button>
        <nav>
            <ul id="primary-navigation">
                <li><a href="index.html">Home</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li class="dropdown">
                    <a href="servicos.html">Serviços <i data-lucide="chevron-down" class="dropdown-icon"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="uxui.html">UX/UI</a></li>
                        <li><a href="branding.html">Branding</a></li>
                        <li><a href="rebranding.html">Rebranding</a></li>
                        <li><a href="consultoria.html">Consultoria</a></li>
                    </ul>
                </li>
                <li><a href="produtos.html">Produtos</a></li>
                <li><a href="cases.html">Cases</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
