<section class="info-section theme-dark">
    <div class="content-wrapper">
        <p class="section-subtitle">Sobre a nywera</p>
        <h2>Embora sermos uma empresa nova, trazemos na bagagem mais de 10 anos de expertise em tecnologia, produto e design.</h2>
        <div class="testimonial-cards">
            <div class="testimonial-card">
                <div class="testimonial-author">
                    <img src="img/home/avatar_masc.png" alt="Lene Studio">
                    <div class="author-info">
                        <h4>Lene</h4>
                        <span>Lene Studio</span>
                    </div>
                </div>
                <p class="testimonial-quote">"Experiências envolventes que conectam sua marca ao público."</p>
            </div>

            <div class="testimonial-card">
                <div class="testimonial-author">
                    <img src="img/home/avatar_femi.png" alt="Amanda Zanetti">
                    <div class="author-info">
                        <h4>Amanda Zanetti</h4>
                        <span>AZ Consultoria e Treinamentos</span>
                    </div>
                </div>
                <p class="testimonial-quote">"Experiências envolventes que conectam sua marca ao público."</p>
            </div>

            <div class="testimonial-card">
                <div class="testimonial-author">
                    <img src="img/home/avatar_femi.png" alt="Lázaro Prado">
                    <div class="author-info">
                        <h4>Lázaro Prado</h4>
                        <span>Verônica</span>
                    </div>
                </div>
                <p class="testimonial-quote">"Experiências envolventes que conectam sua marca ao público."</p>
            </div>
        </div>
    </div>
</section> 