<section class="info-section theme-dark">
    <div class="content-wrapper">
        <p class="section-subtitle">Sobre a nywera</p>
        <h2>Embora sermos uma empresa nova, trazemos na bagagem mais de 10 anos de expertise em tecnologia, produto e design.</h2>
        <!--   <div class="testimonial-cards">
            <div class="testimonial-card">
                <div class="testimonial-author">
                    <img class="testimonial-image" src="assets/img/info/avatar_lene.png" alt="Lene Studio">
                    <div class="author-info">
                        <h4>Lene Studio</h4>
                        <span>Lene</span>
                    </div>
                </div>
                <p class="testimonial-quote">"Experiências envolventes que conectam sua marca ao público."</p>
            </div>

            <div class="testimonial-card">
                <div class="testimonial-author">
                    <img class="testimonial-image" src="assets/img/info/avatar_az.png" alt="Amanda Zanetti">
                    <div class="author-info">
                        <h4>AZ Consultoria e Treinamentos</h4>
                        <span>Amanda Zanetti</span>
                    </div>
                </div>
                <p class="testimonial-quote">"Experiências envolventes que conectam sua marca ao público."</p>
            </div>

            <div class="testimonial-card">
                <div class="testimonial-author">
                    <img class="testimonial-image" src="assets/img/info/avatar_veronica.png" alt="Lázaro Prado">
                    <div class="author-info">
                        <h4>Verônica</h4>
                        <span>Lázaro Prado</span>
                    </div>
                </div>
                <p class="testimonial-quote">"Experiências envolventes que conectam sua marca ao público."</p>
            </div>
        </div>-->  
    </div>
</section> 