<section class="portfolio-section">
    <div class="content-wrapper">
        <div class="section-header portfolio-header">
            <h3>Cases de sucesso</h3>
        </div>
        <div class="portfolio-grid">
                    <div class="grid-item item-1"><img src="assets/img/portfolio/lene.png" alt="Lene Studio" loading="lazy"></div>
        <div class="grid-item item-2"><img src="assets/img/portfolio/AmandaZanetti.png" alt="Amanda Zanetti" loading="lazy"></div>
        <div class="grid-item item-7"><img src="assets/img/portfolio/bitway.png" alt="Bitway" loading="lazy"></div>
        <div class="grid-item item-4"><img src="assets/img/portfolio/brivia.png" alt="Brivia" loading="lazy"></div>
        <div class="grid-item item-5"><img src="assets/img/portfolio/drexfy.png" alt="Drexfy" loading="lazy"></div>
        <div class="grid-item item-6"><img src="assets/img/portfolio/veronica.png" alt="Veronica" loading="lazy"></div>
        <div class="grid-item item-3"><img src="assets/img/portfolio/agrodarros.png" alt="Agro Darros" loading="lazy"></div>
        </div>
    </div>
</section>
