<section class="product-showcase theme-dark">
    <div class="content-wrapper">
        <div class="product-showcase-container">
            <div class="product-showcase-text">
                <h2>Grammatēka</h2>
                <p>Uma ferramenta poderosa para aprimorar sua escrita. O Grammatēka ajuda a verificar a gramática, estilo e tom, garantindo que sua comunicação seja sempre clara e profissional.</p>
                <a href="#" class="btn btn-tertiary"><i class="fas fa-box-open"></i> Conheça nosso plugin</a>
            </div>
            <div class="product-showcase-image">
                <img src="img/home/grammateka-showcase.png" alt="Grammatēka Plugin Showcase">
            </div>
        </div>
    </div>  
</section> 