<!--
<section class="product-showcase">
    <div class="content-wrapper">
        <div class="product-showcase-container">
            <div class="product-showcase-text">
                <h2>Grammatēka</h2>
                <p>O plugin de revisão mais avançado do mercado. Correção automática, sugestões inteligentes e aprimoramento de texto!</p>
                <a href="#" class="btn btn-tertiary"><i class="fas fa-spell-check"></i> Conheça nosso plugin</a>
            </div>
            <div class="product-showcase-image">
                <img src="assets/img/grammateka/home/grammateka-showcase.png" alt="Grammatēka Plugin Showcase">
            </div>
        </div>
    </div>  
</section> 

-->